# base dependecies

Flask==1.0.2
Flask-RESTful==0.3.6
pytest==3.10.0
coverage==4.5.1
pytest-cov==2.6.0
gunicorn==19.9.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
Flask-JWT-Extended==3.13.1
python-dotenv==0.9.1
